GIT_USER=ontouml
GIT_REPO=ontouml-models
GIT_TOKEN=generated_git_token
GIT_BRANCH=test
LOG_FILE=filename.log
FDP_TOKEN=generated_fdp_token
FDP_PREFIX="@prefix fdpo: <https://w3id.org/fdp/fdp-o#>."
CATALOG_ID=b663ca18-8085-44a7-bcfe-2c2b5ba1faa8
BASIC_URL=https://scs-ontouml.eemcs.utwente.nl/